<div class="row">
  <div class="col-md-6" *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="updateProduct()" >
      <h1>Edit Product</h1>

      <div class="form-group">
        <label for="title">Title</label>
        <input  [(ngModel)]="product.title"
                type="title"
                id="title"
                formControlName="title"
                class="form-control">
        <div *ngIf="form.get('title').touched && form.get('title').invalid" class="alert alert-danger">
          <small *ngIf="form.get('title').errors.required">Title is required.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-addon">€</span>
          <input [(ngModel)]="product.price"
                 type="text"
                 id="price"
                 formControlName="price"
                 class="form-control">
        </div>
        <div *ngIf="form.get('price').touched && form.get('price').invalid" class="alert alert-danger">
          <small *ngIf="form.get('price').errors.required">Enter price</small>
          <small *ngIf="form.get('price').errors['min']">Price should be 0 or higher.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category"  class="form-control" formControlName="category">
          <option value="">Select category</option>
          <option *ngFor="let cat of categories$" [value]="cat.key">{{cat.name}}</option>
        </select>
        <div *ngIf="form.get('category').touched && form.get('category').invalid" class="alert alert-danger">
          <small *ngIf="form.get('category').errors.required">Enter category</small>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Image URL</label>
        <input [(ngModel)]="product.image"
               type="text"
               id="imgaeUrl"
               formControlName="image"
               class="form-control">
        <div *ngIf="form.get('image').touched && form.get('image').invalid" class="alert alert-danger">
          <small *ngIf="form.get('image').errors.required">Enter price</small>
        </div>
      </div>

      <button type="submit"
              class="btn btn-primary"
              [disabled]="form.invalid || submitted">Edit</button>

      <button type="button"
              (click)="deleteProduct(product.id)"
              class="btn btn-danger"
              [disabled]="form.invalid || submitted">Delete</button>
    </form>
  </div>

  <div class="col-md-6" *ngIf="product">
    <div class="card" style="width: 20rem;">
      <img [src]="product.image" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <p class="card-text">{{product.price | currency: 'EUR':true}}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>

