<div class="row">
  <div class="col-3">
    <h4>Categories</h4>
    <a routerLink="/"
       [class.active]="!category"
       class="list-group-item list-group-item-action">All categories</a>
    <div class="list-group">
      <a *ngFor="let cat of categories"
         [routerLink]="['/']"
         [queryParams]="{category: cat.key}"
         [class.active]="category === cat.key"
         class="list-group-item list-group-item-action">{{cat.name}}</a>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let product of filteredProduct; let i = index">
        <div class="col">
          <div class="card" style="width: 15rem;">
            <img [src]="product.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">{{product.title}}</h4>
              <p class="card-text">{{product.price | currency: 'EUR': true}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>



