<p>
  <a class="btn-primary" [routerLink]="['/admin','product', 'new']">New Product</a>
</p>
<p>
  <input type="text" placeholder="Find a product..." class="form-control" [(ngModel)]="productName">
</p>
<!--main-->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="uk-table uk-table-hover uk-table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of products | search : productName">
    <td>{{p.title}}</td>
    <td>{{p.price}}</td>
    <td>
      <a [routerLink]="['/admin', 'product', p.id, 'edit']" >Edit</a>
    </td>
  </tr>
  </tbody>
</table>

