@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  margin-top: 8rem;
}
