<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="submit()" >
      <h1>Add new Product</h1>

      <div class="form-group">
        <label for="title">Title</label>
        <input  #title [(ngModel)]="title.value"
               type="text"
               id="title"
               formControlName="title"
               class="form-control">
        <div *ngIf="form.get('title').touched && form.get('title').invalid" class="alert alert-danger">
          <small *ngIf="form.get('title').errors.required">Title is required.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-addon">€</span>
          <input #price [(ngModel)]="price.value"
                 type="text"
                 id="price"
                 formControlName="price"
                 class="form-control">
        </div>
        <div *ngIf="form.get('price').touched && form.get('price').invalid" class="alert alert-danger">
          <small *ngIf="form.get('price').errors.required">Enter price</small>
          <small *ngIf="form.get('price').errors['min']">Price should be 0 or higher.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category"  class="form-control" formControlName="category">
          <option value="">Select category</option>
          <option *ngFor="let cat of categories$" [value]="cat.key">{{cat.name}}</option>
        </select>
        <div *ngIf="form.get('category').touched && form.get('category').invalid" class="alert alert-danger">
          <small *ngIf="form.get('category').errors.required">Enter category</small>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Image URL</label>
        <input #imgUrl [(ngModel)]="imgUrl.value"
               type="text"
               id="imgaeUrl"
               formControlName="image"
               class="form-control">
        <div *ngIf="form.get('image').touched && form.get('image').invalid" class="alert alert-danger">
          <small *ngIf="form.get('image').errors.required">Enter price</small>
        </div>
      </div>

      <button type="submit"
              class="btn btn-block btn-dark"
              [disabled]="form.invalid">Add product</button>
    </form>
  </div>

  <div class="col-md-6" *ngIf="title.value">
    <div class="card" style="width: 20rem;">
      <img [src]="imgUrl.value" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">{{title.value}}</h4>
        <p class="card-text">{{price.value | currency: 'EUR':true}}</p>
      </div>
    </div>
  </div>
</div>
