<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Sign in to admin panel</h2>

  <!--div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div>
  <div class="alert alert-info" *ngIf="message">{{message}}</div-->

  <div class="form-control"
       [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">

    <div *ngIf="form.get('email').touched && form.get('email').invalid"
         class="validation">
      <small *ngIf="form.get('email').errors.required">Enter your email</small>
      <small *ngIf="form.get('email').errors.email">Field email need to be email</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">

    <div *ngIf="form.get('password').touched && form.get('password').invalid"
         class="validation">
      <small *ngIf="form.get('password').errors.required">Enter your password</small>
      <small *ngIf="form.get('password').errors.minlength">
        The password need to be more then {{form.get('password').errors.minlength.requiredLength}} numbers
        but now is {{form.get('password').errors.minlength.actualLength}} numbers
      </small>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="form.invalid || submitted">Sign in</button>
</form>

